header {
    background-color: black;
}

#button {
    display: inline-block;
    height: 60px;
    background-color:teal;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

body {
    background: pink;
    color: black;
    font-family: 'Fira Code';
    font-size: 25px;
    letter-spacing: 2px;
}

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    height: auto;
    max-width: 200px;
}

.profile-name {
    text-align: center;
    padding: 30px;
}

.links {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid white;
    border-width: 2px;
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}

a {
    text-decoration: none;
    color: white;
    transition: color 1s;
}

a:hover {
    color: #EBCD51;
    background: #5A3E86;
}

.bottom-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    height: auto;
    max-width: 180px;
}